.image {
    background-repeat:no-repeat;
    background-position: center top;
    display:block;
    margin:0px auto; 
    width: 100%;
    }
    @media only screen and (max-width: 768px) {

        .image {
            width: -webkit-fill-available;
      }
    }



    .line{
        border: 20px solid #f1f0f0;
        margin: 0;
    }
    .hotpink{
        color:#e82b7d
    }
    .spacing{
        margin-top: 30px;
    }
    .login_style{
        float: right;
        right: 300px;
        position: relative;
        top: 18px;
        }
    .login_text_style{
        float: right;
        right: 125px;
        position: relative;
        top: 14px;
        color: #9a9494;
        }

        @media only screen and (min-width: 768px) {

        .mb_img_text_container{
                display:  none;
        }
    }
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            .mb_img_text1 {
                background-color: #e82b7d;
                color: white;
                padding-left: 50px;
                padding-right: 20px;
                font-size: 30px;
                left: 0px;
                margin-bottom: 0;
            }
          }
     

          .item{
          
            background: #edeef0;
            height: 50px;
          }

          .media_markt{
            margin-top:10px;
            width: 450px;
          }

          @media only screen and (max-width: 768px) {
            .media_markt{
                width: auto;
              }
          }

        
          @media only screen and (max-width: 768px) {
            .fix{
                margin: 0 -100px 0 0;
            }
          }
