.hr_line{
    color: black;
    background-color: green;
    height: 100;
}
.nd_img{
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    margin: 0px auto;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.img_text1{
    position: absolute;
    background-color:#e82b7d;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 60px;
    left: 150px;
    top: 100px;
}
.img_text2{
    position: absolute;
    background-color:#e82b7d;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 60px;
    left: 150px;
    top: 170px;
}
.img_btn{
    position: absolute;
    font-size: 60px;
    left: 150px;
    top: 240px;
}

@media only screen and (max-width: 768px) {

    .img_text_container{
        display: none;
    }
}
@media only screen and (max-width: 768px) {

    .nd_img{
        margin:0;
        height: 250px;
    }
}

@media only screen and (min-width: 768px) {

    .mb_img_txt{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .mb_img_txt {
        background-color: #e82b7d;
        color: white;
        padding-left: 50px;
        padding-right: 20px;
        font-size: 30px;
        left: 0px;
        margin-bottom: 50px;
        padding: 10px 0px 10px 30px;
    }
  }

.img_text_container{
    position: relative;
    font-family: Arial;
   
}
.ctn_img{
    height: 500px;
    width: 100%;
   
}

@media only screen and (max-width: 768px) {
    .ctn_img{
        width: 600px;
        height: 250px;
    }
}

@media only screen and (max-width: 768px) {
    .ctn{
        display: flex;
        justify-content: center;  
    margin: 0 20px 0 20px;
    }
}
@media only screen and (max-width: 768px) {
    .pad_space{
       
    margin: 0 20px 0 20px;
        padding-right:0 !important;
    }
}

@media only screen and (max-width: 768px) {
    h1{
       
   font-size: 30px !important;
   margin: 0 20px 0 20px;
   padding: 15px 0 15px 0;
    }
}

.space{
    margin-top: 60px;
}
.pad_space{
    padding-right: 200px;
}
.pad_space_nd{
    padding-left: 100px;
    padding-right: 100px;
}

@media only screen and (max-width: 768px) {
    .pad_space_nd{
       padding:0
    }
}



.footer_one{
    padding: 0px 10px 0 100px;
    margin-bottom: 50px;
}

h1{
    color:#e82b7d}

.mini_img{
    width: 425px;
    height: 250px;

}


@media only screen and (max-width: 768px) {

    .btn_cntre{
        display: flex;
        justify-content: center;    }
}
@media only screen and (max-width: 768px) {

    .mb_title{
       margin-bottom: 30px;
    }
}

.mb_btn{
    border:none !important;
}

@media only screen and (max-width: 768px) {

    .mb_btn{
        margin-top: 20px;
       margin-bottom: 50px;
       
    }
}

@media only screen and (max-width: 768px) {

    .mini_img{
        width: -webkit-fill-available;
        margin-right: 30px;
        height: 250px;
    }
}

.bdy_contain{
    margin: 50px 100px 100px 120px;

}
@media only screen and (max-width: 768px) {

    .bdy_contain{
        margin: 40px 20px 11px 50px;
    }
}

ul{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 1rem;
}

.bullets ::before{
    content: "• ";
    color: red; 
    padding-right: 5px;
    font-size: 20px;
}
.bullets{
    list-style: none;
    padding: 0;
}
h5{
  color: #489db6;  
}



@media only screen and (max-width: 768px) {
    .footer_one{
       padding:0
    }
}
@media only screen and (max-width: 768px) {
    .mble_size{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .graph_size{

        display: flex;
        justify-content: center;  
        padding: 0;
        margin: 0;
    }
}

.graph_img{
     width: 250px;
}

@media only screen and (max-width: 768px) {
    .last_image{
        padding: 0;
        margin:0 ;
    }
}
@media only screen and (max-width: 768px) {
    .footer_logo{
        width: 400px !important;
        margin-right: 0 !important;
    }
}
@media only screen and (max-width: 768px) {
    .last_img{
        float: none;
        display: flex;
        justify-content: center;  
    }
}
@media only screen and (max-width: 768px) {
    .last_image{

        display: flex;
        justify-content: center;  

    }
}

.last_image{
    background-color: #edeef0;
     padding-top: 30px;
     padding-bottom: 30px ;
     height: 200px;

}

.last_img{
float: right;
}

.footer_logo{
    width: 500px;
    margin-right: 200px;
}

